<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="include/head-meta-fragment :: head-mata"></th:block>
<body>
<script th:inline="javascript">
    var apiKey = [[${apiKey}]];
    var searchList = [[${searchList}]];
</script>
    <th:block th:replace="include/header-fragment :: header"></th:block>
<main class="main-flex">
    <div class="search-container">
        <form id="searchForm" method="get" onsubmit="handleSearch(event)">
            <div>
                <select class="search-option" name="media-code">
                    <option value=100>artist</option>
                    <option value=200>drama</option>
                    <option value=300>movie</option>
                    <option value=400>show</option>
                </select>
            </div>
            <div class="search-box">
                <input class="search-txt" type="text" name="keyword" placeholder="검색어를 입력하세요.">
                <button class="search-button" type="submit">
                    <img src="/images/icons/search.svg">
                </button>
            </div>
        </form>
    </div>
    <div class="map-container">
        <div id="map">지도 영역</div>
        <button onclick="findMyLocation()">내 위치 찾기</button>
    </div>
    <div class="search-results">
        <ul id="placeList"></ul>
    </div>
</main>
<th:block th:replace="include/navbar-fragment :: navbar"></th:block>
<th:block th:replace="include/footer-fragment :: footer"></th:block>
<script>
    var map;

    function loadKakaoMaps(callback) {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'http://dapi.kakao.com/v2/maps/sdk.js?appkey=' + apiKey + '&autoload=false';
        script.onload = callback;
        document.head.appendChild(script);
    }

    function initMap() {
        kakao.maps.load(function() {
            var mapContainer = document.getElementById('map');
            var mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667),
                level: 3
            };

            map = new kakao.maps.Map(mapContainer, mapOption);

            // 초기 위치 설정
            setMyLocation();

            // 초기 검색 결과 표시
            displaySearchResults(initialSearchList);
        });
    }

    loadKakaoMaps(initMap);

    function displaySearchResults(searchList) {
        var bounds = new kakao.maps.LatLngBounds();
        var listEl = document.getElementById('placeList');
        listEl.innerHTML = '';

        searchList.forEach(function(place) {
            var placePosition = new kakao.maps.LatLng(place.latitude, place.longitude);

            // 마커 생성
            var marker = new kakao.maps.Marker({
                position: placePosition
            });
            marker.setMap(map);

            // 인포윈도우 생성
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="padding:5px;">' + place.title + '</div>'
            });

            kakao.maps.event.addListener(marker, 'mouseover', function() {
                infowindow.open(map, marker);
            });

            kakao.maps.event.addListener(marker, 'mouseout', function() {
                infowindow.close();
            });

            bounds.extend(placePosition);

            var li = document.createElement('li');
            li.innerHTML = '<strong>' + place.title + '</strong><br>' + place.address;
            li.onclick = function() {
                map.setCenter(placePosition);
            };
            listEl.appendChild(li);
        });

        map.setBounds(bounds);
    }

    function setMyLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var lat = position.coords.latitude;
                var lon = position.coords.longitude;
                var locPosition = new kakao.maps.LatLng(lat, lon);

                map.setCenter(locPosition);
                removeMarker();

                var marker = new kakao.maps.Marker({
                    position: locPosition
                });
                marker.setMap(map);

                window.currentMarker = marker;
            }, function(error) {
                console.log('Geolocation failed: ' + error.message);
            }, {
                enableHighAccuracy: true,
                maximumAge: 0,
                timeout: 5000
            });
        } else {
            console.log('Geolocation is not supported by this browser.');
        }
    }

    function removeMarker() {
        if (window.currentMarker) {
            window.currentMarker.setMap(null);
        }
    }

    function findMyLocation() {
        setMyLocation();
    }

    function handleSearch(event) {
        event.preventDefault();

        var form = document.getElementById('searchForm');
        var formData = new FormData(form);

        var queryString = new URLSearchParams(formData).toString();
        var requestUrl = '/api/places/search?' + queryString;
        console.log('요청 url은 ***** ' + requestUrl);
        fetch(requestUrl, {
            method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
            console.log('data는 **** ' + data);
            // 서버로부터 받은 searchList 데이터를 지도에 반영
            displaySearchResults(data);
        })
        .catch(error => console.error('Error:', error));
    }
</script>
</body>
</html>
