<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-mata">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WeDug</title>
    <!-- CSS 파일 링크 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <!-- JavaScript 파일 링크 -->
    <script th:src="@{/js/index.js}"></script>
    <!-- 그 외 라이브러리 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/jquery.marquee.min.js"></script>
</head>
</html>
