<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="include/head-meta-fragment :: head-mata"></th:block>
<body>
<script th:inline="javascript">

</script>
    <th:block th:replace="include/header-fragment :: header"></th:block>
    <main class="main-flex">
        <div class="login-container">
            <h2>비밀번호 재설정</h2>
            <form th:action="@{/user/find-password}" method="post" class="login-form">
                <div class="form-group">
                    <label for="currentPassword">현재 패스워드</label>
                    <input type="password" id="currentPassword" name="currentPassword" required>
                </div>
                <div class="form-group">
                    <label for="changePassword">변경할 패스워드</label>
                    <input type="password" id="changePassword" name="changePassword" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">패스워드 확인</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="login-button">변경하기</button>
                </div>
            </form>
        </div>
    </main>
    <th:block th:replace="include/navbar-fragment :: navbar"></th:block>
    <th:block th:replace="include/footer-fragment :: footer"></th:block>
</body>
</html>
