<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>내 위치 카카오맵</title>
    <script th:inline="javascript">
        var apiKey = [[${apiKey}]];
    </script>
</head>
<body>
<!-- 지도를 표시할 div 요소 -->
<div id="map" style="width:500px;height:400px;"></div>
<!-- 내 위치 찾기 버튼 추가 -->
<button onclick="findMyLocation()">내 위치 찾기</button>
<script>
    var map; // 전역 변수로 map 선언

    function loadKakaoMaps(callback) {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'http://dapi.kakao.com/v2/maps/sdk.js?appkey=' + apiKey + '&autoload=false';
        script.onload = callback;
        document.head.appendChild(script);
    }

    function initMap() {
        kakao.maps.load(function() {
            var mapContainer = document.getElementById('map');
            var mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667),
                level: 3
            };

            map = new kakao.maps.Map(mapContainer, mapOption);

            // 초기 위치 설정
            setMyLocation();
        });
    }

    // 내 위치 설정 함수
    function setMyLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var lat = position.coords.latitude;
                var lon = position.coords.longitude;
                var locPosition = new kakao.maps.LatLng(lat, lon);

                map.setCenter(locPosition);

                // 기존 마커 제거
                removeMarker();

                // 새 마커 생성
                var marker = new kakao.maps.Marker({
                    position: locPosition
                });
                marker.setMap(map);

                // 마커를 전역 변수에 저장
                window.currentMarker = marker;

            }, function(error) {
                console.log('Geolocation failed: ' + error.message);
            }, {
                enableHighAccuracy: true,
                maximumAge: 0,
                timeout: 5000
            });
        } else {
            console.log('Geolocation is not supported by this browser.');
        }
    }

    // 마커 제거 함수
    function removeMarker() {
        if (window.currentMarker) {
            window.currentMarker.setMap(null);
        }
    }

    // 내 위치 찾기 버튼 클릭 시 실행될 함수
    function findMyLocation() {
        setMyLocation();
    }

    loadKakaoMaps(initMap);
</script>
</body>
</html>