<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="include/head-meta-fragment :: head-mata"></th:block>
<body>
<script th:inline="javascript">

</script>
    <th:block th:replace="include/header-fragment :: header"></th:block>
    <main class="main-block">
        <div class="ranking-list">랭킹</div>
    </main>
    <th:block th:replace="include/navbar-fragment :: navbar"></th:block>
    <th:block th:replace="include/footer-fragment :: footer"></th:block>
</body>
</html>
